.getWeatherContainer
    #weatherBtn
        font-size: 1.5em
        width: 300px
        margin: 1em
        @media(min-width: 890px)
            width: 400px
    h6
        color: #666
        padding: 1.5em
    .slider-container
        margin-bottom: 1.5em
        width: 300px
        @media(min-width: 890px)
            width: 400px
        .dataLabel
            margin: 5px 0 5px 20px
            font-size: 1.3em
            color: #666
            .dataText
                font-size: 1.5em
                color: #000
                font-weight: 500
