.getWeatherContainer
    #weatherBtn
        font-size: 1em
        width: 10em
        margin: 1em
        border-radius: 5%
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
        @media(min-width: 890px)
            width: 17em
    h6
        color: #666
        padding: 1.5em
    .slider-container
        margin-bottom: 1.5em
        width: 17em
        @media(min-width: 890px)
            width: 29em
        .dataLabel
            margin: 5px 0 5px 20px
            font-size: 1.3em
            color: #666
            .dataText
                font-size: 1.5em
                color: #000
                font-weight: 500
