@forward './_getweather'
@forward './_results'

html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

body
    height: 100%

*, *:before, *:after
    -webkit-box-sizing: inherit
    -moz-box-sizing: inherit
    box-sizing: inherit

.container
    min-height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &.resultContainer
        font-family: 'Roboto Mono'
        display: none
    &.getWeatherContainer
        font-family: 'Roboto Mono'
    &.loading
        width: 100%
        display: none
        #loading-bar
            width: 30%
    h6
        text-align: center
    @media(max-width: 500px)
        justify-content: space-around
        &.loading
            #loading-bar
                width: 50%
